spring:
  profiles:
    active: dev
  datasource:
    url: "jdbc:h2:file:./src/main/resources/voting-db"
    driverClassName: "org.h2.Driver"
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC

server:
  port: 8080
  servlet:
    contextPath: /
  info:
    app:
      name: desafio-votacao
      version: '0.0.1-SNAPSHOT'
logging:
  level:
    root: INFO
    com.desafiovotacao: DEBUG