spring:
  profiles:
    active: dev
  datasource:
    url: "jdbc:h2:file:./data/voting-db"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
server:
  port: 8080
  servlet:
    contextPath: /api
  info:
    app:
      name: desafio-votacao
      version: '0.0.1-SNAPSHOT'
logging:
  level:
    root: INFO
    com.desafiovotacao: DEBUG